.todoApp {
  width: 600px;
  display: flex;
  flex-direction: column;
  background-color: azure;
  align-items: center;

}

.todolist {
  height: 400px;
  width: 400px;
  background-color: beige;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 30px;
}
